.dropshadow{
	background-color: #fff;
}

.noshadow{
	background-color: rgba(0,0,0,0);
}

.codeshadow{
	background-color: #000;
}

ul li{
	list-style: none;
}

code, pre{
	color: Lime;
	background-color: #000;
}

pre{
	border-color: #000;
}

.jumbotron p {

	font-size: 16px;
	font-weight: 400;
}